html, body {
    margin: 0;
    padding: 0;
}

#canvas {
    margin: 10px;
    width: 1200px;
    height: 600px;
    background-color: #ddd;

    background-image: url('images/tree.png');
    background-repeat: no-repeat;
    background-size: 400px 540px;
    background-position: 450px 0px;
}

#reset-btn {
    margin: 20px;
    background-color: #1671ff;
    color: white;
    font-size: 14px;
    line-height: 19px;
    padding: 9px 24px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    outline: none;
}

#reset-btn:hover {
    background-color: #1552b4;
}
