html, body {
    margin: 0;
    padding: 0;
}

#app {
    display: inline-block;
    font-family: Arial;
    color: '#1f3545';
}

#canvas-and-scores {
    display: flex;
    margin: 20px;
    outline: 1px solid black;
}

#canvas {
    width: 1000px;
    height: 600px;
    background-color: #ddd;

    background-image: url('images/tree.png');
    background-repeat: no-repeat;
    background-size: 40% 90%;
    background-position: 75% 10%;
}

#scoreboard {
    width: 200px;
    border-left: 1px solid black;
}

.score {
    padding: 6px;
    border-bottom: 1px solid black;
}

.score.self {
    background-color: #1671ff;
    color: white;
}

#reset-btn {
    margin: 20px;
}
